 h2 {margin-top:1em;}
      #go_button {padding: 1em !important; font-size: 22pt; font-family: arial; height: 2em; float:right;}

      mark.term {background: none; border: 1px solid silver; border-radius:3px;}
      mark.term.correct:after {content: " \2713"; color: #009900; font-size: .5em;}
      mark.term.correction {text-shadow: 0px 0px .3em rgba(255,230,0,.5); }
      mark.term.misspelled {text-decoration: line-through; border: 0;}
      mark.term.unknown  {text-shadow: 0px 0px .3em rgba(100,149,237,.8);}
      div.legend {font-size: 9.5pt; margin: .5em; padding:.5em; float:right; line-height: 1.5em; border: 1px dashed gray;}

      .accents-report {width: 80%; border: 1px dashed silver;
        line-height: 1em; font-size: 14pt; margin: 1em; padding: .75em;
      }
      .accents-report h4 {margin: 5px; padding: 0; }
      .accents-modified {border: 2px solid gray; margin: 1em; padding: 1em;}
      #report_output .content {
        border: 3px solid darkgray;
        -webkit-box-shadow:inset 2px 3px 5px 2px #BFBFBF;
        box-shadow:inset 2px 3px 5px 2px #BFBFBF;
        overflow: hidden;
        margin: .5em; padding: 1em; padding-left:3em;
        background-color: white; font-size:14pt;}

      #textinput {width: 98%; height: 20em; resize: none; font-size:10pt; font-family: "courier new";}

      #main-content {width:100% !important;}
      .blink {
        animation: blink 1s steps(5, start) infinite;
        -webkit-animation: blink 1s steps(5, start) infinite;
      }
      @keyframes blink {
        to { visibility: hidden; }
      }
      @-webkit-keyframes blink {
        to { visibility: hidden; }
      }
      .hidden {display:none;}

span.pagenum:after {
  content: attr(data-num);
  padding: 2px; color: white; font-size: 10pt;
  border: 1px solid silver; border-radius: 5px; margin: 5px; margin-top:-2em;
  background-color: gray;

}



